.container{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  
  button {
    cursor: pointer          
  }

  .new-note-box {
    text-align: left;
    display: inline-block;
    margin: 10px;
    min-height: 48px;
    height: fit-content;
    border: 3px solid var(--black);
    border-radius: 16px;
    box-shadow: rgb(0, 0, 0) 8px 8px 0px 0px;
                          
    h2 {
      word-break: break-all;
      margin: 20px 20px 10px 20px;
    }              
    .sendButton {
      background: var(--white);
    }    
    
    &.create-palette {
      background: var(--yellow);
      width: 35%;
    }
    
    &.send-palette{
      background: var(--lightBlue);
      width: 35%;
    }
  }


  .cards-container {
      padding: 50px 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; 
      
      .card {
          width: calc(33.33% - 45px);
          margin: 20px;
          min-width: 190px;
          min-height: 254px;
          height: fit-content;
          background: var(--white);
          border: 3px solid var(--black);
          border-radius: 0;
          box-shadow: 10px 10px 0 -2.5px var(--lightPink), 10px 10px 0 0 var(--lightPink);
          text-align: left;

          .deleteButton {
            float: right;
            margin: 10px;
            background: none;
            border: 0;
            color: inherit;
            //position: absolute;
          }

          h2 {
              word-break: break-all;
              margin: 10px;
          }

          span.author {
              color: var(--grayishBlue);
              font-size: 12px;
              float: right;
              margin: 3px;
              cursor: default;
          }
          ._4GdcU{
            cursor: text;
          }
      }
  }
}
          
div .noteContent {
    width: 65%;
    float: left;
    margin: 0px 25px 20px 25px;
}   

button.sendButton {
  background: var(--yellow);
  font-family: inherit;
  padding: 0.3em 0.75em;
  font-weight: 900;
  font-size: 18px;
  margin: 0px 15px 15px 15px;
  border: 3px solid var(--black);
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  float: right;

  &:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  &:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }   
}

@media (max-width: 450px) {
    .card {
      width: 90% !important;
    }
  }
  
  @media (min-width: 451px) and (max-width: 950px) {
    .card {
      width: calc(50% - 45px) !important;
    }
  }
._i5--j{
  &:hover {
    background-color: inherit;
  }
}
input {
  &._i5--j{
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    overflow: unset;
    text-overflow: ellipsis; 
    border: none;
  &:focus {
    outline: none;
  }
  }
}