.account-window {
    padding-top: 30px;
    width: 100%;
    box-shadow: var(--shadow-offset) var(--shadow-offset) 0 var(--orange);
    margin: auto;
    max-width: 480px;
    text-align: center;
    
    .c-browser-content {
        display: block;
        text-align: center;
        --shadow-offset: 14px;
        font-family: Inter,X-LocaleSpecific,sans-serif;
        color: var(--black);
        font-size: 1.3125rem;
        line-height: 1.5;
        border-radius: 10px;
        box-shadow: var(--shadow-offset) var(--shadow-offset) 0 var(--salmon);
        max-width: 480px;
        height: min-content;
        margin: 0 auto;
        background-color: var(--white);
        border: 3px solid var(--black);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 32px;
    

        input {
            font-family: Fira Mono,Andale Mono,monospace;
            border: 3px solid var(--black);
            width: fit-content;
            overflow-wrap: break-word;
            padding: 8px;
            text-align: left;
            margin: 0 0 1.25em;
            
        }

            .user-icon, .psswd-icon, .mail-icon {
                background-repeat: no-repeat;
                background-size: contain;
                content: "";
                display: inline-block;
                height: 20px;
                margin-right: 8px;
                vertical-align: middle;
                width: 20px;
            }
            .user-icon {
                background-image: url('../../static/img/icon-person.svg');
            }
            .psswd-icon {
                background-image: url('../../static/img/icon-lock.svg');
            }
            .mail-icon {
                background-image: url('../../static/img/icon-mail.svg');
            }
        button  {
            background-color: var(--darkBlue);
            border-color: var(--black);
            color: var(--white);
            border: 2px solid var(--black);
            border-radius: 4px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            cursor: url("../../static/img/pointer-jk.svg") 8 8, pointer;
            display: inline-block;
            font-weight: 700;
            line-height: 1.5;
            padding: 6px 24px;
            text-decoration: none!important;
            font-family: Metropolis,Inter,X-LocaleSpecific,sans-serif;
            font-size: 16px;
            font-size: 1rem;
                        
        }

        .mssg-no-account {
            font-family: Fira Mono,Andale Mono,monospace;
            font-size: 1rem;
        }
        .mssg-error {
            margin-top: 0;
            font-family: Fira Mono,Andale Mono,monospace;
            font-size: 0.75rem;
            color: red;
        }
    }

    .c-browser-bar {
        align-items: center;
        background-color: var(--salmon);
        border: 3px solid var(--black);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        height: 50px;
        max-width: 443px;
        width: -webkit-fill-available;
        position: absolute;
        padding-left: 16px;
        padding-right: 16px;
        &.login {
            background-color: var(--blue);
        }
        .c-browser-bar-dot {
            border: 3px solid var(--black);
            border-radius: 50%;
            height: 15px;
            width: 15px;
        }
        .c-browser-bar-dot+.c-browser-bar-dot {
            margin-left: 16px;
        }

        .c-browser-bar-close {
            height: 22.5px;
            margin-left: auto;
            position: relative;
            width: 15px;
        
            &:after, &:before {
                background-color: var(--black);
                content: "";
                display: block;
                height: 22.5px;
                position: absolute; 
                width: 3px;
            }
            &:after {
                transform: rotate(-45deg);
            }
            &:before {
                transform: rotate(45deg);
            }
        }
    }
}